.navbar li{
    float: left;
    list-style: none;
    margin: 14px 23px;
    
}
.navbar ul{
    overflow: auto;
}
.navbar{
    /* width: 99vw; */
    background-color: bisque;
    /* margin: 0; */
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: black;
    
}
*{
    margin: 0;
}
h2 {
    margin: 23px 0 16px 17px;

}
main {
    margin: 0 0 0 17px;
}
.fut{
    margin: 32px 0 0 0;
}
h4{
    margin: 0 0 10px 0;
}
footer{
    margin: 23px 0 0 17px;
}